/* Utils */
.avatars{
    height: 60px;
}

.text-gray{
    color: #B1B1B1;
}

.bg-gray{
    background-color: #EAEAEA;
}


/* Messages */


.user-mess{
    background-color: #D5F9BA;
    margin-left: 60%;
}

.dest-mess{
    background-color: #FFF;
    margin-right: 60%;
}

.date{
    font-size: 10px;
    align-self: flex-end;
    padding-right: 10px;
}

/* Page */
.wrapper{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(218,219,213,1) 15%);
    width: 100vw;
    height: 100vh;
}

.height-left{
    height: calc(100vh - 270px);
}

.height-right{
    height:  calc(100vh - 180px);
}

.lh-user{
    line-height: 50px;
}

.round-notify{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.desktop-notify{
    height: 80px;
}


#search-chats{
   width: 80%;
   height: 38px; 
}

input:focus-visible{
    outline: 0;
}

input{
    border-color: transparent;
}

.chat-card:hover{
    background-color: rgba(211, 211, 211, 0.5);
}


.user-chat .avatars{
    min-height: 70px;
}

.user-chat{
    overflow-y: scroll;
}

.header-chat, .header-user{
    min-height: 70px;
}

.chat-content{
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.message-area{
    background-color: #F3EEEA;
    min-height: 60px;
}


