/* Utils */
.avatars{
    height: 60px;
}

.text-gray{
    color: #B1B1B1;
}

/* Page */
.wrapper{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(218,219,213,1) 15%);
    width: 100vw;
    height: 100vh;
}

.page-vh{
    height: 90vh;
}

.header-user{
    background-color: #EAEAEA;
}

.lh-user{
    line-height: 50px;
}