/* Utils */
.avatars{
    height: 60px;
}

.text-gray{
    color: #B1B1B1;
}

.bg-gray{
    background-color: #EAEAEA;
}

/* Page */
.wrapper{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(218,219,213,1) 15%);
    width: 100vw;
    height: 100vh;
}


.lh-user{
    line-height: 50px;
}

.round-notify{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#search-chats{
   width: 80%;
   height: 35px; 
}

input:focus-visible{
    outline: 0;
}

input{
    border-color: transparent;
}


.user-chat .avatars{
    height: 70px;
}

.user-chat{
    overflow-y: scroll;
}

.header-chat, .header-user{
    height: 70px;
}