<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/icon.png">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
        integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=='
        crossorigin='anonymous' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div class="wrapper">
            <div class="container pt-4">
                <div class="row">
                    <!-- !Sezione sinistra -->
                    <div class="col-5 p-0">

                        <!-- Username -->
                        <div class="header-user bg-gray d-flex justify-content-between align-items-center">
                            <div class="user-image d-flex pt-1 ps-2">
                                <img class="avatars rounded-circle" :src="`img/avatar${user.avatar}.jpg`"
                                    :alt="user.name">
                                <p class="lh-user">{{ user.name }}</p>
                            </div>
                            <div class="user-buttons pe-3" role="button">
                                <i class="fas fa-circle-notch fa-lg text-gray"></i>
                                <i class="fas fa-comment-alt fa-lg text-gray px-2"></i>
                                <i class="fas fa-ellipsis-v fa-lg text-gray"></i>
                            </div>
                        </div>
                        <!-- Notifiche desktop -->
                        <div class="desktop-notify bg-info d-flex ps-3 pt-3">
                            <div class="round-notify d-flex justify-content-center align-items-center">
                                <i class="fas fa-bell-slash fa-lg text-info"></i>
                            </div>
                            <div class="content-notify ps-2">
                                <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                                <p role="button" class="text-muted"><u>Attiva notifiche desktop</u></p>
                            </div>
                        </div>
                        <!-- Tutte le chat -->
                        <div class="chats  bg-white">
                            <!-- RIcerca -->
                            <div class="input-search bg-gray d-flex justify-content-center py-3">
                                <div class="search bg-white px-4 d-flex align-items-center">
                                    <label for="search-chats"><i class="fas fa-search text-gray"></i></label>
                                </div>
                                <input id="search-chats" type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                            <!-- Contatti -->
                            <div class="user-chat height-left">
                                <div role="button" class="chat-card d-flex p-3"
                                    :class="{activecard: index === currentIndex}" v-for="(contact, index) in contacts"
                                    @click="changeContact(index)">
                                    <img class="avatars rounded-circle" :src="`img/avatar${contact.avatar}.jpg`"
                                        :alt="contact.name">
                                    <p class="ps-4 fs-5">{{contact.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- !Sezione chat destra -->
                    <div class="col-7 p-0">
                        <!-- header della chat -->
                        <div class="header-chat bg-gray d-flex justify-content-between align-items-center"
                            v-for="(contact, index) in contacts" v-if="contact.visible">
                            <div class="user-image d-flex pt-1 ps-2">
                                <img class="avatars rounded-circle pe-3" :src="`img/avatar${contact.avatar}.jpg`"
                                    :alt="user.name">
                                <div>
                                    <p class="m-0">{{ contact.name }}</p>
                                    <p class="text-muted"> Ultimo accesso alle</p>
                                </div>
                            </div>
                            <div class="user-buttons pe-3" role="button">
                                <i class="fas fa-search fa-lg text-gray"></i>
                                <i class="fas fa-paperclip fa-lg text-gray px-2"></i>
                                <i class="fas fa-ellipsis-v fa-lg text-gray"></i>
                            </div>
                        </div>
                        <!-- Contenuti chat -->
                        <main class="chat-content height-right p-4">
                            <div class="messages" v-for="(contact, index) in contacts" v-if="contact.visible">
                                <div class="rounded-3 mt-1"
                                    :class="[message.status === 'sent' ? 'sent-mess' : 'received-mess']"
                                    v-for="(message, index) in contact.messages">
                                    <p class="m-0 pt-2 ps-3 pe-5">{{ message.text }}</p>
                                    <p class="text-gray date m-0 pt-2 pe-1 text-end">{{ message.date }}</p>
                                </div>
                            </div>

                            <!-- # Versione col, offset 

                             <div class="row">
                                <div class="col-5 offset-7 user-mess mt-2">
                                    <p class="m-0 py-2">Hai portato a spasso il cane?</p>
                                    <p class="text-gray date m-0 text-end">31/01/2022 16:14</p>
                                </div>
                                <div class="col-5 dest-mess mt-2">
                                    <p class="m-0 py-2">Hai portato a spasso il cane?</p>
                                    <p class="text-gray date m-0 text-end">31/01/2022 16:14</p>
                                </div>
                            </div>-->

                        </main>
                        <!-- Area messaggi -->
                        <div class="message-area d-flex justify-content-around align-items-center px-2">
                            <i role="button" class="far fa-smile fa-lg"></i>
                            <input class="py-3 rounded-2" id="search-chats" type="text"
                                placeholder="Scrivi un messaggio">
                            <i role="button" class="fas fa-microphone fa-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>